<a href="https://colab.research.google.com/github/Shaurya55555/DataScProject/blob/main/Data_preanalysis_and_inference.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: read dataset.csv file

import pandas as pd
df = pd.read_csv('data.csv')
df.head()

  Marital status;Application mode;Application order;Course;"Daytime/evening attendance\t";Previous qualification;Previous qualification (grade);Nacionality;Mother's qualification;Father's qualification;Mother's occupation;Father's occupation;Admission grade;Displaced;Educational special needs;Debtor;Tuition fees up to date;Gender;Scholarship holder;Age at enrollment;International;Curricular units 1st sem (credited);Curricular units 1st sem (enrolled);Curricular units 1st sem (evaluations);Curricular units 1st sem (approved);Curricular units 1st sem (grade);Curricular units 1st sem (without evaluations);Curricular units 2nd sem (credited);Curricular units 2nd sem (enrolled);Curricular units 2nd sem (evaluations);Curricular units 2nd sem (approved);Curricular units 2nd sem (grade);Curricular units 2nd sem (without evaluations);Unemployment rate;Inflation rate;GDP;Target
0  1;17;5;171;1;1;122.0;1;19;12;5;9;127.3;1;0;0;1...
1  1;15;1;9254;1;1;160.0;1;1;3;3;3;142.5;1;0;0;0;...
2  1;1;5;9070;1;1;122.0;1;37;37;9;9;124.8;1;0;0;0...
3  1;17;2;9773;1;1;122.0;1;38;37;5;3;119.6;1;0;0;...
4  2;39;1;8014;0;1;100.0;1;37;38;9;9;141.5;0;0;0;...

In [ ]:
df.shape

(4424, 1)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         --------------  -----
 0   Marital status;Application mode;Application order;Course;"Daytime/evening attendance	";Previous qualification;Previous qualification (grade);Nacionality;Mother's qualification;Father's qualification;Mother's occupation;Father's occupation;Admission grade;Displaced;Educational special needs;Debtor;Tuition fees up to date;Gender;Scholarship holder;Age at enrollment;International;Curricular units 1st sem (credited);Curricular units 1st sem (enrolled);Curricular units 1st sem (evaluations);Curricular units 1st sem (approved);Curricular units 1st sem (grade);Curricular units 1st sem (without evaluations);Curricular units 2nd sem (credited);Curricular units 2nd sem (enrolled);Curricular units 2nd sem (evaluations);Curricular units 2nd sem (approved);Curricular units 2nd sem (grade);Curricular units 2nd sem (without evaluations);Unemployment rate;Inflation rate;GDP;Target  4424 non-null   object
dtypes: object(1)
memory usage: 34.7+ KB

In [ ]:
df.describe()

       Marital status;Application mode;Application order;Course;"Daytime/evening attendance\t";Previous qualification;Previous qualification (grade);Nacionality;Mother's qualification;Father's qualification;Mother's occupation;Father's occupation;Admission grade;Displaced;Educational special needs;Debtor;Tuition fees up to date;Gender;Scholarship holder;Age at enrollment;International;Curricular units 1st sem (credited);Curricular units 1st sem (enrolled);Curricular units 1st sem (evaluations);Curricular units 1st sem (approved);Curricular units 1st sem (grade);Curricular units 1st sem (without evaluations);Curricular units 2nd sem (credited);Curricular units 2nd sem (enrolled);Curricular units 2nd sem (evaluations);Curricular units 2nd sem (approved);Curricular units 2nd sem (grade);Curricular units 2nd sem (without evaluations);Unemployment rate;Inflation rate;GDP;Target
count                                                4424
unique                                               4424
top     1;10;1;9773;1;1;152.0;22;38;37;5;9;152.0;1;0;0...
freq                                                    1

In [ ]:
df.isnull().value_counts()

Marital status;Application mode;Application order;Course;"Daytime/evening attendance\t";Previous qualification;Previous qualification (grade);Nacionality;Mother's qualification;Father's qualification;Mother's occupation;Father's occupation;Admission grade;Displaced;Educational special needs;Debtor;Tuition fees up to date;Gender;Scholarship holder;Age at enrollment;International;Curricular units 1st sem (credited);Curricular units 1st sem (enrolled);Curricular units 1st sem (evaluations);Curricular units 1st sem (approved);Curricular units 1st sem (grade);Curricular units 1st sem (without evaluations);Curricular units 2nd sem (credited);Curricular units 2nd sem (enrolled);Curricular units 2nd sem (evaluations);Curricular units 2nd sem (approved);Curricular units 2nd sem (grade);Curricular units 2nd sem (without evaluations);Unemployment rate;Inflation rate;GDP;Target
False                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             4424
Name: count, dtype: int64

In [ ]:
df.nunique()

Marital status;Application mode;Application order;Course;"Daytime/evening attendance\t";Previous qualification;Previous qualification (grade);Nacionality;Mother's qualification;Father's qualification;Mother's occupation;Father's occupation;Admission grade;Displaced;Educational special needs;Debtor;Tuition fees up to date;Gender;Scholarship holder;Age at enrollment;International;Curricular units 1st sem (credited);Curricular units 1st sem (enrolled);Curricular units 1st sem (evaluations);Curricular units 1st sem (approved);Curricular units 1st sem (grade);Curricular units 1st sem (without evaluations);Curricular units 2nd sem (credited);Curricular units 2nd sem (enrolled);Curricular units 2nd sem (evaluations);Curricular units 2nd sem (approved);Curricular units 2nd sem (grade);Curricular units 2nd sem (without evaluations);Unemployment rate;Inflation rate;GDP;Target    4424
dtype: int64

In [ ]:
df['Target'].value_counts()

KeyError: 'Target'

In [ ]:
dropped=df[df['Target']=='Dropout']
dropped.head()

In [ ]:
grad=df[df['Target']=='Graduate']
grad.head()

KeyError: 'Target'

In [ ]:
enrolled=df[df['Target']=='Enrolled']
enrolled.head()

KeyError: 'Target'

In [ ]:
x=['mean','std','50%','count']
dropped.describe().T.style.background_gradient(subset=x,cmap='Greens')

NameError: name 'dropped' is not defined

In [ ]:
x=['mean','std','50%','count']
enrolled.describe().T.style.background_gradient(subset=x,cmap='Greens')

NameError: name 'enrolled' is not defined

In [ ]:
x=['mean','std','50%','count']
grad.describe().T.style.background_gradient(subset=x,cmap='Greens')

NameError: name 'grad' is not defined

In [ ]:
px.histogram(df,x='Target',color='Target')

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['Marital status;Application mode;Application order;Course;"Daytime/evening attendance\t";Previous qualification;Previous qualification (grade);Nacionality;Mother\'s qualification;Father\'s qualification;Mother\'s occupation;Father\'s occupation;Admission grade;Displaced;Educational special needs;Debtor;Tuition fees up to date;Gender;Scholarship holder;Age at enrollment;International;Curricular units 1st sem (credited);Curricular units 1st sem (enrolled);Curricular units 1st sem (evaluations);Curricular units 1st sem (approved);Curricular units 1st sem (grade);Curricular units 1st sem (without evaluations);Curricular units 2nd sem (credited);Curricular units 2nd sem (enrolled);Curricular units 2nd sem (evaluations);Curricular units 2nd sem (approved);Curricular units 2nd sem (grade);Curricular units 2nd sem (without evaluations);Unemployment rate;Inflation rate;GDP;Target'] but received: Target

In [ ]:
!pip install plotly
import plotly.express as px

Requirement already satisfied: plotly in /usr/local/lib/python3.11/dist-packages (5.24.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.11/dist-packages (from plotly) (9.1.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from plotly) (24.2)

In [ ]:
px.histogram(df,x='Target',color='Target')

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['Marital status;Application mode;Application order;Course;"Daytime/evening attendance\t";Previous qualification;Previous qualification (grade);Nacionality;Mother\'s qualification;Father\'s qualification;Mother\'s occupation;Father\'s occupation;Admission grade;Displaced;Educational special needs;Debtor;Tuition fees up to date;Gender;Scholarship holder;Age at enrollment;International;Curricular units 1st sem (credited);Curricular units 1st sem (enrolled);Curricular units 1st sem (evaluations);Curricular units 1st sem (approved);Curricular units 1st sem (grade);Curricular units 1st sem (without evaluations);Curricular units 2nd sem (credited);Curricular units 2nd sem (enrolled);Curricular units 2nd sem (evaluations);Curricular units 2nd sem (approved);Curricular units 2nd sem (grade);Curricular units 2nd sem (without evaluations);Unemployment rate;Inflation rate;GDP;Target'] but received: Target

In [ ]:
px.histogram(df,x='Course',color='Target')

In [ ]:
px.histogram(df,x='Scholarship holder',color='Target',barmode='group',title='Scholarship holder vs Target')

In [ ]:
px.histogram(df,x='International',color='Target',barmode='group',title='International vs Target')

In [ ]:
px.histogram(df,x='Gender',color='Target',barmode='group',title='Gender vs Target')

In [ ]:
px.histogram(df,x='Age at enrollment',color='Target',barmode='group',title='Age at enrollment vs Target')

In [ ]:
px.histogram(df,x='Father\'s qualification',color='Target',barmode='group',title='Father qualification vs Target')

In [ ]:
px.histogram(df,x='Mother\'s qualification',color='Target',barmode='group',title='Mother qualification vs Target')

In [ ]:
px.histogram(df,x='Mother\'s occupation',color='Target',barmode='group',title='Mother occupation vs Target')

In [ ]:
px.histogram(df,x='Father\'s occupation',color='Target',barmode='group',title='Father occupation vs Target')

In [ ]:
px.histogram(df,x='Application mode',color='Target',barmode='group',title='Application mode vs Target')

In [ ]:
px.histogram(df,x='Curricular units 1st sem (grade)',color='Target',barmode='group',title='Curricular units 1st sem (grade) vs Target')

In [ ]:
px.histogram(df,x='Curricular units 2nd sem (grade)',color='Target',barmode='group',title='Curricular units 2nd sem (grade) vs Target')

In [ ]:
px.histogram(df,x='Unemployment rate',color='Target',barmode='group',title='Unemployment rate vs Target')

In [ ]:
numerical_data=df.drop(['Target'],axis=1).select_dtypes('number').columns
numerical_data

In [ ]:
!pip install matplotlib seaborn
import matplotlib.pyplot as plt # Importing the pyplot module from matplotlib as plt
import seaborn as sns

In [ ]:
index=0;
plt.figure(figsize=(20,20))
for feature in numerical_data:
  if feature !='Target':
    index+=1;
    plt.subplot(4,3,index)
    sns.boxplot(df[feature])
    plt.tight_layout()

In [ ]:
index=0
import numpy as np
plt.figure(figsize=(20,20))
num_cols = 3  # Number of columns in the subplot grid
num_rows = int(np.ceil(len(numerical_data) / num_cols))  # Calculate rows needed

for feature in numerical_data:
    if feature != 'Target':
        index += 1
        plt.subplot(num_rows, num_cols, index)  # Use calculated rows
        sns.boxplot(x=df[feature])  # Use x= for horizontal boxplot
        plt.tight_layout()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import plotly.express as px
import numpy as np
import io

In [ ]:
# prompt: upload fiel

from google.colab import files
uploaded = files.upload()
# Then use the uploaded file e.g.
# df = pd.read_csv('your_uploaded_file.csv')

In [ ]:
student_data = pd.read_csv(io.BytesIO(uploaded['dataset (2).csv']))

In [ ]:
numerical_features = [
    'Age at enrollment',
    'Curricular units 1st sem (grade)',
    'Curricular units 2nd sem (grade)',
    'Unemployment rate',
    'Inflation rate',
    'GDP'
]

Pair Wise PLot

In [ ]:
sns.pairplot(student_data[numerical_features + ['Target']], hue='Target', palette='Set2', diag_kind='kde')
plt.suptitle('Pair Plots of Numerical Features Colored by Target', y=1.02)
plt.show()

Categorical Vs Target (each figure is for a category, mentioned as heading of image)

In [ ]:
fig = px.histogram(student_data, x='Gender', color='Target', barmode='group',
                   color_discrete_sequence=['darkblue', 'cyan', 'orange'],
                   title='Gender vs Target')
fig.update_layout(xaxis_title='Gender', yaxis_title='Count')
fig.show()

In [ ]:
fig = px.histogram(student_data, x='Marital status', color='Target', barmode='group',
                   color_discrete_sequence=['darkblue', 'cyan', 'orange'],
                   title='Marital Status vs Target')
fig.update_layout(xaxis_title='Marital Status', yaxis_title='Count')
fig.show()

In [ ]:
fig = px.histogram(student_data, x='Scholarship holder', color='Target', barmode='group',
                   color_discrete_sequence=['darkblue', 'cyan', 'orange'],
                   title='Scholarship Holder vs Target')
fig.update_layout(xaxis_title='Scholarship Holder', yaxis_title='Count')
fig.show()

In [ ]:
fig = px.histogram(student_data, x='Daytime/evening attendance', color='Target', barmode='group',
                   color_discrete_sequence=['darkblue', 'cyan', 'orange'],
                   title='Daytime/Evening Attendance vs Target')
fig.update_layout(xaxis_title='Daytime/Evening Attendance', yaxis_title='Count')
fig.show()

In [ ]:
fig = px.histogram(student_data, x="Father's qualification", color='Target', barmode='group',
                   color_discrete_sequence=['darkblue', 'cyan', 'orange'],
                   title='Father’s Qualification vs Target')
fig.update_layout(xaxis_title='Father’s Qualification', yaxis_title='Count')
fig.show()

In [ ]:
fig = px.histogram(student_data, x="Mother's qualification", color='Target', barmode='group',
                   color_discrete_sequence=['darkblue', 'cyan', 'orange'],
                   title='Mother’s Qualification vs Target')
fig.update_layout(xaxis_title='Mother’s Qualification', yaxis_title='Count')
fig.show()

In [ ]:
fig = px.histogram(student_data, x='Course', color='Target', barmode='group',
                   color_discrete_sequence=['darkblue', 'cyan', 'orange'],
                   title='Course vs Target')
fig.update_layout(xaxis_title='Course', yaxis_title='Count')
fig.show()

Categorical Vs Numerical (each figure is for a categorical variable , mentioned in the **figure**) **bold text**

In [ ]:
sns.pairplot(data=student_data, vars=numerical_features, hue="Marital status", palette="Set2")
plt.suptitle("Pair Plot: Marital Status vs Numerical Features", y=1.02)
plt.show()

In [ ]:
# Pair plot for "Application mode"
sns.pairplot(data=student_data, vars=numerical_features, hue="Application mode", palette="Set1")
plt.suptitle("Pair Plot: Application Mode vs Numerical Features", y=1.02)
plt.show()

In [ ]:
# Pair plot for "Gender"
sns.pairplot(data=student_data, vars=numerical_features, hue="Gender", palette="coolwarm")
plt.suptitle("Pair Plot: Gender vs Numerical Features", y=1.02)
plt.show()

In [ ]:
sns.pairplot(data=student_data, vars=numerical_features, palette="husl",hue = "Target")
plt.suptitle("Pair Plot: Numerical Features", y=1.02)
plt.show()

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.cluster import KMeans
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, ConfusionMatrixDisplay
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Load dataset
df = pd.read_csv('dataset.csv', delimiter=';')

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
# Correct a column name that has a typo and replace single quotes with underscores
df.rename(columns = {"Nacionality": "Nationality",
                           "Mother's qualification": "Mother_qualification",
                           "Father's qualification": "Father_qualification",
                           "Mother's occupation": "Mother_occupation",
                           "Father's occupation": "Father_occupation",
                           "Age at enrollment": "Age"}, inplace = True)

# Replace white space in the column names with underscore
df.columns = df.columns.str.replace(' ', '_')

# Remove the parenthesis
df.columns = df.columns.str.replace('(', '')
df.columns = df.columns.str.replace(')', '')

In [ ]:
# device the columns into categorical or numerical
def check_column_types(df):
    numeric_columns, categorical_columns = [], []
    threshold = 5
    for column in df.columns:
        unique_values = df[column].nunique()
        total_values = len(df[column])

        if pd.api.types.is_numeric_dtype(df[column]):
            if unique_values < threshold:
                categorical_columns.append(column)
            else:
                numeric_columns.append(column)
        else:
            categorical_columns.append(column)


    return numeric_columns, categorical_columns

numeric_columns, categorical_columns = check_column_types(df)
print(f"numeric columns = {numeric_columns}")
print(f"categoric columns = {categorical_columns}")

In [ ]:
# scale the numeric features
scaler = StandardScaler()
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])
df.head()

In [ ]:
# one hot encode the categorical columns
le = LabelEncoder()
for col in categorical_columns:
    df[col] = le.fit_transform(df[col])

In [ ]:
# printing the correlation matrix
correlation_matrix = df.corr()
plt.figure(figsize=(20, 15))
sns.heatmap(correlation_matrix, annot=True, fmt=".2f", cmap="coolwarm")
plt.title("Feature Correlation Heatmap")
plt.show()

In [ ]:
# printing the corellation values of each input feature with the 'Target'
label_correlations = correlation_matrix['Target'].drop('Target')
sorted_features = label_correlations.abs().sort_values(ascending=False)
sorted_features

In [ ]:
# Devide the columns into input features X and output labels y
target_column = "Target"
X = df.drop(columns=target_column)
y = df[target_column]

In [ ]:
# use only the features that have above a certain level of correlation with the Target columm
label_correlations = correlation_matrix['Target'].drop('Target')
threshold = 0.1
selected_features = label_correlations[abs(label_correlations) > threshold].index.tolist()
X = X[selected_features]
selected_features

In [ ]:
y.head()

In [ ]:
# split the dataset into training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1337)

In [ ]:
# function to print the confusion matrix for a model
def print_confusion_matrix(model_name, y_true, y_pred):
    print(f"Confusion Matrix for {model_name}:\n")
    cm = confusion_matrix(y_true, y_pred)
    # Optionally display the confusion matrix visually
    disp = ConfusionMatrixDisplay(confusion_matrix=cm, display_labels=set(y_true))
    disp.plot(cmap="Blues")

In [ ]:
# Logistic Regression
lr = LogisticRegression(max_iter=3000, solver='lbfgs')
lr.fit(X_train, y_train)
lr_preds = lr.predict(X_test)
print(classification_report(y_test, lr_preds))

print_confusion_matrix(lr, y_test, lr_preds)

In [ ]:
# K-Nearest Neighbors
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)
knn_preds = knn.predict(X_test)
print(classification_report(y_test, knn_preds))

print_confusion_matrix(knn, y_test, knn_preds)

In [ ]:
# Decision Tree
dt = DecisionTreeClassifier(random_state=42)
dt.fit(X_train, y_train)
dt_preds = dt.predict(X_test)
print(classification_report(y_test, dt_preds))

print_confusion_matrix(dt, y_test, dt_preds)

In [ ]:
# Random Forest
rf = RandomForestClassifier(random_state=42, n_estimators=100)
rf.fit(X_train, y_train)
rf_preds = rf.predict(X_test)
print(classification_report(y_test, rf_preds))

print_confusion_matrix(rf, y_test, rf_preds)